
<div class="row p-10 bodyBox gx-0">
  <h1 class="tittle display-2 lh-sm mb-0">😡 F*ckng angry piano 😤</h1>
  <p class="fw-normal text-center">click on each color and <span class="fw-bold">release the fury</span></p>
  <div class="col-lg-4 col-md-7 col-sm-8">
    <div class="list-group ">
      <a (click)="makeSound(1)"
        class="list-group-item list-group-item-action"
        style="background-color: #990a08; border-style: none; "
      ></a>
      <a (click)="makeSound(2)"
        class="list-group-item list-group-item-action"
        style="background-color: #af100c; border-style: none"
      ></a>
      <a (click)="makeSound(3)"
        class="list-group-item list-group-item-action"
        style="background-color: #c42615; border-style: none"
      ></a>
      <a (click)="makeSound(4)"
        class="list-group-item list-group-item-action"
        style="background-color: #eaa81d; border-style: none"
      ></a>
      <a (click)="makeSound(5)"
        class="list-group-item list-group-item-action"
        style="background-color:  #e39329; border-style: none"
      ></a>
      <a (click)="makeSound(6)"
        class="list-group-item list-group-item-action"
        style="background-color: #e3801d; border-style: none"
      ></a>
      <a (click)="makeSound(7)"
        class="list-group-item list-group-item-action"
        style="background-color: rgb(21, 21, 21); border-style: none"
      ></a>
    </div>
  </div>
</div>
<!-- <audio controls>
  <source src="../assets/sounds/note2.wav" >
 
Your browser does not support the audio element.
</audio> -->
