
<div class="row p-10 bodyBox gx-0">
  <h1 class="tittle display-1 lh-sm">little piano</h1>
  <p class="fw-normal text-center">click on each color and <span class="fw-bold">make music</span></p>
  <div class="col-lg-4 col-md-7 col-sm-8">
    <div class="list-group ">
      <a (click)="makeSound(1)"
        class="list-group-item list-group-item-action"s
        style="background-color: red; border-style: none; "
      ></a>
      <a (click)="makeSound(2)"
        class="list-group-item list-group-item-action"
        style="background-color: orangered; border-style: none"
      ></a>
      <a (click)="makeSound(3)"
        class="list-group-item list-group-item-action"
        style="background-color: yellow; border-style: none"
      ></a>
      <a (click)="makeSound(4)"
        class="list-group-item list-group-item-action"
        style="background-color: green; border-style: none"
      ></a>
      <a (click)="makeSound(5)"
        class="list-group-item list-group-item-action"
        style="background-color: teal; border-style: none"
      ></a>
      <a (click)="makeSound(6)"
        class="list-group-item list-group-item-action"
        style="background-color: blue; border-style: none"
      ></a>
      <a (click)="makeSound(7)"
        class="list-group-item list-group-item-action"
        style="background-color: purple; border-style: none"
      ></a>
    </div>
  </div>
</div>
<!-- <audio controls>
  <source src="../assets/sounds/note2.wav" >
 
Your browser does not support the audio element.
</audio> -->
