/* You can add global styles to this file, and also import other style files */
@font-face {
    font-family: 'BURTONS';
    src: url('./assets/BURTONS.OTF');
  }

.app-root{
    margin: 0%;
    padding: 0;
}